/*For all elements throughout the whole browser*/
* {
	margin: 0;
	padding: 0;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

/*For hiding the scrollbar on the browser*/
body::-webkit-scrollbar {
  display: none;
}

/*Hides the scrollbar, but you can still scroll up or down*/
body {
	overflow: hidden;
  overflow-style: none; 
  scrollbar-width: none;
  border: 0px dotted black;
  overflow-y: scroll;
}

/*The main content throughout the whole page*/
.banner {
	width: 100%;
	height: 600vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("stelle-caelus_cinematic.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/*Controls the navigation bar*/
.navbar {
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: -5%;
	right: 7%;
}

/*The logo image for the website*/
.logo {
	width: 186px;
	cursor: pointer;
}

/*Designing the navbar*/
.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.navbar ul li::after {
	content: '';
	height: 3px;
	width: 0;
	background: linear-gradient(65deg, #42f5ce 0, #42f5ce 15%, #2f9df7 33%, #2f9df7 66%, #ef57fa 85%, #ef57fa 100%);
	position: absolute;
	left: 0;
	bottom: -10px;
	transparent: 0.5s;
}

.navbar ul li:hover::after {
	width: 100%;
}

/*Controls on the main content only*/
.content {
	width: 100%;
	position: absolute;
	margin-top: 126%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
}

.content h1 {
	font-size: 100px;
	margin-top: 100px;
	color: bisque;
}

.content p {
	margin: 40px 0px 10px 0px;
	font-weight: 100;
	line-weight: 25px;
}

.banner h2 {
	color: aliceblue;
	font-size: 75px;
	text-align: center;
	margin-top: 400px;
}

.container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.container iframe{
  position: absolute;
  top: 5;
  width: 50%;
  height: 50%;
	margin-left: -430px;
}

.container h2 {
	font-size: 75px;
	color: aliceblue;
}

/*Footer for the copyright*/
footer {
	background-color: darkslategrey;
	color: white;
	text-align: center;
	font-size: 30px;
	margin-top: -35px;
}